@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .node {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
  }

  .node:hover {
    background-color: theme('colors.gray.400');
  }

  .node.selected {
    background-color: theme('colors.purple.200');
  }

  .node.selected .node {
    background-color: theme('colors.purple.100');
  }

  .tree-list {
    list-style-type: none;
    padding: 0;
  }

  .tree-list ul {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid theme('colors.gray.300');
  }
  .tree-list ul.selected {
    background-color: theme('colors.purple.100');
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}